<%= render "banner" %>

<div class="container">

  <div class="title-container">
  <h2><%= @article.title %></h2>
    <%= link_to edit_path(@article), data: { confirm: "Are you sure?" } do%>
      <i class="fa-solid fa-pen"></i>
    <% end %>
    <%= link_to article_path(@article),method: :delete,data: { confirm: "Are you sure?" } do%>
      <i class="fa fa-trash" aria-hidden="true"></i>
    <% end %>
  </div>

  <p><%= @article.content %></p>


  <%= link_to "back", articles_path, :class => "btn btn-info"  %>

</div>
